node_modules
/backend/node_modules
.env
npm-debug.log
/backend/node_modules
/services/payment/.env
/services/notification/.env
/services/user/.env
/services/catalogue/.env
/services/shipping/.env
/services/order/.env
/services/cart/.env


/services/payment/node_modules
/services/notification/node_modules
/services/user/node_modules
/services/catalogue/node_modules
/services/shipping/node_modules
/services/order/node_modules
/services/cart/node_modules

