apiVersion: apps/v1
kind: Deployment
metadata:
  name: payment-service
  namespace: ecommerce
  labels:
    app: payment-service
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: payment-service
  template:
    metadata:
      labels:
        app: payment-service
    spec:
      containers:
      - name: payment-service
        image: huuhai123/payment-service:latest
        imagePullPolicy: IfNotPresent
        resources:
          requests:
            memory: "128Mi"
            cpu: "50m"
          limits:
            memory: "256Mi"
            cpu: "150m"
        env:
        - name: PORT
          value: "3005"
        - name: DB_HOST
          value: "payment-db"
        - name: DB_USER
          valueFrom:
            secretKeyRef:
              name: ecommerce-secrets
              key: DB_USER
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: ecommerce-secrets
              key: DB_PASSWORD
        - name: DB_DATABASE
          value: "payment_db"
        - name: RABBITMQ_URL
          valueFrom:
            secretKeyRef:
              name: ecommerce-secrets
              key: RABBITMQ_URL
        ports:
        - containerPort: 3005
---
apiVersion: v1
kind: Service
metadata:
  name: payment-service
  namespace: ecommerce
spec:
  ports:
  - port: 3005
    targetPort: 3005
  selector:
    app: payment-service
  type: ClusterIP
