apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-service
  namespace: ecommerce
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      nodeSelector:
        kubernetes.io/hostname: master-node
      containers:
      - name: frontend
        image: huuhai123/frontend-service:latest # Thay bằng image bạn đã push
        resources:
          requests:
            memory: "128Mi"
            cpu: "100m"
          limits:
            memory: "256Mi"
            cpu: "200m"
        ports:
        - containerPort: 80 # Cổng code frontend đang chạy
---
apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: ecommerce
spec:
  type: NodePort # Đổi thành NodePort để truy cập từ ngoài
  ports:
  - port: 80
    targetPort: 80
    nodePort: 30001 # Bạn có thể truy cập qua IP_Worker:30001
  selector:
    app: frontend