apiVersion: v1
kind: Namespace
metadata:
  name: ecommerce
---
apiVersion: v1
kind: Service
metadata:
  name: kube-dns-check
  namespace: kube-system
  labels:
    app: kube-dns-check
spec:
  ports:
  - port: 53
    protocol: UDP
  selector:
    k8s-app: kube-dns
