apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-service
  namespace: ecommerce
  labels:
    app: order-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: order-service
  template:
    metadata:
      labels:
        app: order-service
    spec:
      containers:
      - name: order-service
        image: doan-order_service:latest
        imagePullPolicy: IfNotPresent
        env:
        - name: PORT
          value: "3003"
        - name: DB_HOST
          value: "postgres"
        - name: DB_USER
          valueFrom:
            secretKeyRef:
              name: ecommerce-secrets
              key: DB_USER
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: ecommerce-secrets
              key: DB_PASSWORD
        - name: DB_DATABASE
          valueFrom:
            secretKeyRef:
              name: ecommerce-secrets
              key: DB_DATABASE
        - name: JWT_SECRET
          valueFrom:
            secretKeyRef:
              name: ecommerce-secrets
              key: JWT_SECRET
        - name: RABBITMQ_URL
          valueFrom:
            secretKeyRef:
              name: ecommerce-secrets
              key: RABBITMQ_URL
        - name: PAYMENT_URL
          valueFrom:
            secretKeyRef:
              name: ecommerce-secrets
              key: PAYMENT_URL
        ports:
        - containerPort: 3003
---
apiVersion: v1
kind: Service
metadata:
  name: order-service
  namespace: ecommerce
spec:
  ports:
  - port: 3003
    targetPort: 3003
  selector:
    app: order-service
  type: ClusterIP
